{% extends 'base.html.twig' %}


            {% block body %}

                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">

                        <li class="breadcrumb-item">
                            <a href="{{ path('affichage_la_liste_d_offre') }}">Mes Offres</a>
                        </li>

                        <li class="breadcrumb-item">
                            <a href="{{ path('ajout_offre') }}">Nouvelle Offre</a>
                        </li>

                    </ol>
                </nav>


                <li class="breadcrumb-item">
                    <h6 align="center" size="">Liste Des Offres</h6>
                </li>

                {% for off in offres | reverse %}
                <div class="site-section lightbox">
                    <div class="container">
                        <div class="row ">
                            <div class="col-md-6 col-lg-4 mb-4">
                                <a href="#" class="unit-1 text-center">
                                    <img src="http://localhost/FixitF/public/uploads/Photos/{{off.photo}}" href="" alt="Image" class="img-fluid" height="1000" width="1000">
                                    <div class="unit-1-text">
                                        <h3 class="unit-1-heading"><label>Budget:</label><span>{{ off.budget }}</span></h3>
                                        <h3 class="unit-1-heading"><label>Titre:</label><span>{{ off.titre }}</span></h3>
                                        <h3 class="unit-1-heading"><label>description:</label><span>{{ off.description }}</span></h3>
                                        <h3 class="unit-1-heading"><label>Service:</label> {{ off.service.nom }}</h3>

                                    </div>
                                </a>
                                <br>
                                <div class="btn btn-black">
                                    <a  class="btn fa-edit" href="{{ path('modifier_une_offre',{'id':off.id}) }}" >
                                        <span class="glyph fa-edit icon-edit"   ></span>
                                        {% trans %} Modifier {% endtrans %}
                                    </a>
                                </div>
                                <div class="btn btn-black">
                                    <a class="btn fa-remove" data-toggle="modal" data-target="#myModal">
                                        <span class="glyph fa-remove " ></span>
                                        {% trans %} Supprimer {% endtrans %}
                                    </a>
                                </div>
                            </div>

                        </div>

                    </div>
                    <div class="modal fade" id="myModal" role="dialog">
                        <div class="modal-dialog">

                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                </div>
                                <div class="modal-body">
                                    <p>Voulez-vous vraiment supprimer cette offre?</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-success" data-dismiss="modal">Non</button>
                                    <a href="{{ path('supprimer_une_offre',{'id':off.id}) }}" class="btn btn-danger" >Oui</a>
                                </div>
                            </div>

                        </div>
                    </div>

                    {% endfor %}

                    <!-- //js -->
                    <!-- smooth dropdown -->
                    <script>
                        $(document).ready(function () {
                            $('ul li.dropdown').hover(function () {
                                $(this).find('.dropdown-menu').stop(true, true).delay(200).fadeIn(200);
                            }, function () {
                                $(this).find('.dropdown-menu').stop(true, true).delay(200).fadeOut(200);
                            });
                        });
                    </script>
                    <!-- //smooth dropdown -->
                    <!-- script for password match -->
                    <script>
                        window.onload = function () {
                            document.getElementById("password1").onchange = validatePassword;
                            document.getElementById("password2").onchange = validatePassword;
                        }

                        function validatePassword() {
                            var pass2 = document.getElementById("password2").value;
                            var pass1 = document.getElementById("password1").value;
                            if (pass1 != pass2)
                                document.getElementById("password2").setCustomValidity("Passwords Don't Match");
                            else
                                document.getElementById("password2").setCustomValidity('');
                            //empty string means no validation error
                        }
                    </script>
                    <!-- script for password match -->

                    <!--quantity-->
                    <script>
                        $('.value-plus').on('click', function () {
                            var divUpd = $(this).parent().find('.value'),
                                newVal = parseInt(divUpd.text(), 10) + 1;
                            divUpd.text(newVal);
                        });

                        $('.value-minus').on('click', function () {
                            var divUpd = $(this).parent().find('.value'),
                                newVal = parseInt(divUpd.text(), 10) - 1;
                            if (newVal >= 1) divUpd.text(newVal);
                        });
                    </script>
                    <!--quantity-->
                    <!-- FadeOut-Script -->
                    <script>
                        $(document).ready(function (c) {
                            $('.close1').on('click', function (c) {
                                $('.rem1').fadeOut('slow', function (c) {
                                    $('.rem1').remove();
                                });
                            });
                        });
                    </script>
                    <script>
                        $(document).ready(function (c) {
                            $('.close2').on('click', function (c) {
                                $('.rem2').fadeOut('slow', function (c) {
                                    $('.rem2').remove();
                                });
                            });
                        });
                    </script>
                    <script>
                        $(document).ready(function (c) {
                            $('.close3').on('click', function (c) {
                                $('.rem3').fadeOut('slow', function (c) {
                                    $('.rem3').remove();
                                });
                            });
                        });
                    </script>
                    <!--// FadeOut-Script -->

                    <!-- start-smooth-scrolling -->
                    <script src="{{ asset('description/js/move-top.js') }}"></script>
                    <script src="{{ asset('description/js/easing.js') }}"></script>
                    <script>
                        jQuery(document).ready(function ($) {
                            $(".scroll").click(function (event) {
                                event.preventDefault();

                                $('html,body').animate({
                                    scrollTop: $(this.hash).offset().top
                                }, 1000);
                            });
                        });
                    </script>
                    <!-- //end-smooth-scrolling -->
                    <!-- smooth-scrolling-of-move-up -->
                    <script>
                        $(document).ready(function () {
                            /*
                            var defaults = {
                                containerID: 'toTop', // fading element id
                                containerHoverID: 'toTopHover', // fading element hover id
                                scrollSpeed: 1200,
                                easingType: 'linear'
                            };
                            */

                            $().UItoTop({
                                easingType: 'easeOutQuart'
                            });

                        });
                    </script>
                    <script src="{{ asset('description/js/SmoothScroll.min.js') }}"></script>
                    <!-- //smooth-scrolling-of-move-up -->
                    <!-- Bootstrap core JavaScript
                    ================================================== -->
                    <!-- Placed at the end of the document so the pages load faster -->
                    <script src="{{ asset('description/s/bootstrap.js') }}"></script>

                </div>

            {% endblock %}













