<!DOCTYPE html>
<html lang="en">

<head>

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />


    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">




    <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,700,900|Display+Playfair:200,300,400,700">
        <link rel="stylesheet" href="{{asset('Bundles/AppBundle/fonts/icomoon/style.css')}}">

        <link rel="stylesheet" href="{{asset('Bundles/AppBundle/css/bootstrap.min.css')}}">
        <link rel="stylesheet" href="{{asset('Bundles/AppBundle/css/magnific-popup.css')}}">
        <link rel="stylesheet" href="{{asset('Bundles/AppBundle/css/jquery-ui.css')}}">
        <link rel="stylesheet" href="{{asset('Bundles/AppBundle/css/owl.carousel.min.css')}}">
        <link rel="stylesheet" href="{{asset('Bundles/AppBundle/css/owl.theme.default.min.css')}}">

        <link rel="stylesheet" href="{{asset('Bundles/AppBundle/css/bootstrap-datepicker.css')}}">

        <link rel="stylesheet" href="{{asset('Bundles/AppBundle/fonts/flaticon/font/flaticon.css')}}">


    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700" rel="stylesheet">

    <!-- Animate.css -->
    <link rel="stylesheet" href="{{ asset('/template/css/animate.css') }}">
    <!-- Icomoon Icon Fonts-->
    <link rel="stylesheet" href="{{ asset('/template/css/icomoon.css') }}">
    <!-- Bootstrap  -->
    <link rel="stylesheet" href="{{ asset('/template/css/bootstrap.css') }}">

    <!-- Magnific Popup -->
    <link rel="stylesheet" href="{{ asset('/template/css/magnific-popup.css') }}">

    <!-- Flexslider  -->
    <link rel="stylesheet" href="{{ asset('/template/css/flexslider.css') }}">

    <!-- Owl Carousel -->
    <link rel="stylesheet" href="{{ asset('/template/css/owl.carousel.min.css') }}">
    <link rel="stylesheet" href="{{ asset('/template/css/owl.theme.default.min.css') }}">

    <!-- Date Picker -->
    <link rel="stylesheet" href="{{ asset('/template/css/bootstrap-datepicker.css') }}">
    <!-- Flaticons  -->
    <link rel="stylesheet" href="{{ asset('/template/fonts/flaticon/font/flaticon.css') }}">

    <!-- Theme style  -->
    <link rel="stylesheet" href="{{ asset('/template/css/style.css') }}">

    <!-- Modernizr JS -->
    <script src="{{ asset('/template/js/modernizr-2.6.2.min.js') }}"></script>
    <!-- FOR IE9 below -->
    <!--[if lt IE 9]>
    <script src="{{ asset('/template/js/respond.min.js') }}"></script>
    <![endif]-->


    <link rel="stylesheet" href="{{asset('Bundles/AppBundle/css/aos.css')}}">

        <link rel="stylesheet" href="{{asset('Bundles/AppBundle/css/style.css')}}">



    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700" rel="stylesheet">


    </head>
<body>

<div class="site-wrap">

    <div class="site-mobile-menu">
        <div class="site-mobile-menu-header">
            <div class="site-mobile-menu-close mt-3">
                <span class="icon-close2 js-menu-toggle"></span>
            </div>
        </div>
        <div class="site-mobile-menu-body"></div>
    </div>

    <header class="site-navbar  py-lg-4 " role="banner">

{% block header %}


        <div class="container">

            <div class="row align-items-center">

                <div class="col-11 col-xl-2">
                    <h1 class="mb-0"><a href="../views/base.html.twig" class="text-white h2 mb-0">Fixit</a></h1>
                </div>
                <div class="col-12 col-md-10 d-none d-xl-block">
                    <nav class="site-navigation position-relative text-right" role="navigation">

                        <ul class="site-menu js-clone-nav mx-auto d-none d-lg-block">


                            <li class="active"><a href="#" >Home</a></li>
                            <li class="has-children">
<<<<<<< HEAD
                                <a href="{{ path('produits_consulterproduit') }}">Produits</a>
=======
                                <a href="{{ path('produits_consulterproduit') }}">Produits </a>
>>>>>>> 1453b8fe36090e5d7587461cd7c31b60229a01ab
                                <ul class="dropdown">

                                </ul>
                            </li>
                            <li >
                                <a href="{{  path('service_homepage')}}">Services</a>

                            </li>


                            {% if is_granted("IS_AUTHENTICATED_REMEMBERED" )%}

                            <li class="active">
                                <a href="{{  path('Afficher_All_offre')}}">Offre</a>

                            </li>

                                {% endif %}
                            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}

                            <li class="active">
                                <a href="{{  path('affichage_la_liste_d_demande')}}">Demande</a>

                            </li>
<<<<<<< HEAD
                            <li><a href="{{  path('Panier')}}"> <i class="fa fa-shopping-cart " aria-hidden="true" style="color: white"></a>
=======


                            {% endif %}
                            <li >
                                <a href="{{  path('Blog')}}">Blog</a>
>>>>>>> 1453b8fe36090e5d7587461cd7c31b60229a01ab

                            </li>

                            <li>
                                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                     <font style="color: white">  {{ app.user.username }} Connected ! </font>


                                </i>

                               {% block articles %}
                                {% endblock %}
                                <br>

                                        <a href="{{ path('fos_user_security_logout') }}">Sign out</a>
                                    {% else %}
                                      <li> <a href="{{ path('fos_user_security_login') }}" class="btn button-style">Connexion</a></li>

                                       <li> <a href="{{ path('fos_user_registration_register') }}">Inscrivez_Vous !</a></li>

                                    {% endif %}
                                </li>

                        </ul>
                    </nav>
                </div>


                <div class="d-inline-block d-xl-none ml-md-0 mr-auto py-3" style="position: relative; top: 3px;"><a href="#" class="site-menu-toggle js-menu-toggle text-white"><span class="icon-menu h3"></span></a></div>

            </div>

        </div>
        {% block stylesheets %}
            {% endblock %}

{% endblock %}
</header>


    <div class="site-blocks-cover overlay" style="background-image: url({{asset('Bundles/AppBundle//images/Services.jpg')}});"   data-stellar-background-ratio="0.5">
        <div class="container">
            <div class="row align-items-center justify-content-center text-center">

                <div class="col-md-8" data-aos="fade-up" data-aos-delay="400">


                    <h1 class="text-white font-weight-light mb-5 text-uppercase font-weight-bold">Worldwide Freight Services</h1>
                    <p><a href="#" class="btn btn-primary py-3 px-5 text-white">Get Started!</a></p>

                </div>
            </div>
        </div>
    </div>



    {% block body %}

        {% block container %}


        {% endblock %}
    {% endblock %}
    <footer class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-3">
                        <h2 class="footer-heading mb-4">Quick Links</h2>
                        <ul class="list-unstyled">
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Services</a></li>
                            <li><a href="#">Testimonials</a></li>
                            <li><a href="#">Contact Us</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3">
                        <h2 class="footer-heading mb-4">Products</h2>
                        <ul class="list-unstyled">
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Services</a></li>
                            <li><a href="#">Testimonials</a></li>
                            <li><a href="#">Contact Us</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3">
                        <h2 class="footer-heading mb-4">Features</h2>
                        <ul class="list-unstyled">
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Services</a></li>
                            <li><a href="#">Testimonials</a></li>
                            <li><a href="#">Contact Us</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3">
                        <h2 class="footer-heading mb-4">Follow Us</h2>
                        <a href="#" class="pl-0 pr-3"><span class="icon-facebook"></span></a>
                        <a href="#" class="pl-3 pr-3"><span class="icon-twitter"></span></a>
                        <a href="#" class="pl-3 pr-3"><span class="icon-instagram"></span></a>
                        <a href="#" class="pl-3 pr-3"><span class="icon-linkedin"></span></a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <h2 class="footer-heading mb-4">Subscribe Newsletter</h2>
                <form action="#" method="post">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control border-secondary text-white bg-transparent" placeholder="Enter Email" aria-label="Enter Email" aria-describedby="button-addon2">
                        <div class="input-group-append">
                            <button class="btn btn-primary text-white" type="button" id="button-addon2">Send</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row pt-5 mt-5 text-center">
            <div class="col-md-12">
                <div class="border-top pt-5">
                    <p>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank" >Colorlib</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </p>
                </div>
            </div>

        </div>
    </div>
</footer>
</div>
{% block javascripts %}
<script src="{{ asset('Bundles/AppBundle/js/jquery-3.3.1.min.js')}}"></script>
<script src="{{ asset('Bundles/AppBundle/js/jquery-migrate-3.0.1.min.js')}}"></script>
<script src="{{ asset('Bundles/AppBundle/js/jquery-ui.js')}}"></script>
<script src="{{ asset('Bundles/AppBundle/js/popper.min.js')}}"></script>
<script src="{{ asset('Bundles/AppBundle/js/bootstrap.min.js')}}"></script>
<script src="{{ asset('Bundles/AppBundle/js/owl.carousel.min.js')}}"></script>
<script src="{{ asset('Bundles/AppBundle/js/jquery.stellar.min.js')}}"></script>
<script src="{{ asset('Bundles/AppBundle/js/jquery.countdown.min.js')}}"></script>
<script src="{{ asset('Bundles/AppBundle/js/jquery.magnific-popup.min.js')}}"></script>
<script src="{{ asset('Bundles/AppBundle/js/bootstrap-datepicker.min.js')}}"></script>
<script src="{{ asset('Bundles/AppBundle/js/aos.js')}}"></script>
    <!-- jQuery -->
    <script src="{{ asset('/template/js/jquery.min.js') }}"></script>
    <!-- jQuery Easing -->
    <script src="{{ asset('/template/js/jquery.easing.1.3.js') }}"></script>
    <!-- Bootstrap -->
    <script src="{{ asset('/template/js/bootstrap.min.js') }}"></script>
    <!-- Waypoints -->
    <script src="{{ asset('/template/js/jquery.waypoints.min.js') }}"></script>
    <!-- Flexslider -->
    <script src="{{ asset('/template/js/jquery.flexslider-min.js') }}"></script>
    <!-- Owl carousel -->
    <script src="{{ asset('/template/js/owl.carousel.min.js') }}"></script>
    <!-- Magnific Popup -->
    <script src="{{ asset('/template/js/jquery.magnific-popup.min.js') }}"></script>
    <script src="{{ asset('/template/js/magnific-popup-options.js') }}"></script>
    <!-- Date Picker -->
    <script src="{{ asset('/template/js/bootstrap-datepicker.js') }}"></script>
    <!-- Stellar Parallax -->
    <script src="{{ asset('/template/js/jquery.stellar.min.js') }}"></script>
    <!-- Main -->
    <script src="{{ asset('/template/js/main.js') }}"></script>

<script src="{{ asset('Bundles/AppBundle/js/main.js')}}"></script>
    <script src="{{ asset('template/scripts/M.js') }}"></script>
    <script type="text/javascript" src="{{ asset('template/scripts/M.js') }}" async="async"></script>
    <script type="text/javascript">
        (function() {
            var script = document.createElement('script'); script.type = 'text/javascript';
            script.src = "script.js";
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(script, s);
        })();
    </script>
{% endblock %}
{% block stripe %}
{% endblock %}
</body>
</html>

