{% extends 'baseBack.html.twig' %}
{% block content %}
    <div class="site-section">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-4 mb-4">
                    <a href="#" class="unit-1 text-center">
                        <img src="{{asset('ressources/images/produit/1.jpg')}}" alt="Image" class="img-fluid">
                        <div class="unit-1-text">
                            <h3 class="unit-1-heading">Storage</h3>
                            <p class="px-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos tempore ullam minus voluptate libero.</p>
                        </div>
                    </a>
                </div>

                <div class="col-md-6 col-lg-4 mb-4">
                    <a href="#" class="unit-1 text-center">
                        <img src="{{asset('ressources/images/produit/2.jpg')}}" alt="Image" class="img-fluid">
                        <div class="unit-1-text">
                            <h3 class="unit-1-heading">Air Transports</h3>
                            <p class="px-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos tempore ullam minus voluptate libero.</p>
                        </div>
                    </a>
                </div>

                <div class="col-md-6 col-lg-4 mb-4">
                    <a href="#" class="unit-1 text-center">
                        <img src="{{asset('ressources/images/produit/1.jpg')}}" alt="Image" class="img-fluid">
                        <div class="unit-1-text">
                            <h3 class="unit-1-heading">Cargo Transports</h3>
                            <p class="px-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos tempore ullam minus voluptate libero.</p>
                        </div>
                    </a>
                </div>

                <div class="col-md-6 col-lg-4 mb-4">
                    <a href="#" class="unit-1 text-center">
                        <img src="{{asset('ressources/images/produit/1.jpg')}}" alt="Image" class="img-fluid">
                        <div class="unit-1-text">
                            <h3 class="unit-1-heading">Cargo Ship</h3>
                            <p class="px-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos tempore ullam minus voluptate libero.</p>
                        </div>
                    </a>
                </div>

                <div class="col-md-6 col-lg-4 mb-4">
                    <a href="#" class="unit-1 text-center">
                        <img src="{{asset('ressources/images/produit/1.jpg')}}" alt="Image" class="img-fluid">
                        <div class="unit-1-text">
                            <h3 class="unit-1-heading">Ware Housing</h3>
                            <p class="px-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos tempore ullam minus voluptate libero.</p>
                        </div>
                    </a>
                </div>

                <div class="col-md-6 col-lg-4 mb-4">
                    <a href="#" class="unit-1 text-center">
                        <img src="{{asset('ressources/images/produit/1.jpg')}}" alt="Image" class="img-fluid">
                        <div class="unit-1-text">
                            <h3 class="unit-1-heading">Storage</h3>
                            <p class="px-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos tempore ullam minus voluptate libero.</p>
                        </div>
                    </a>
                </div>

            </div>
        </div>
    </div>


{% endblock %}