{% extends 'baseBack.html.twig' %}
{% block content %}
    <script type="text/javascript">

        function viewImage(imgsrc) {
            document.getElementById("image").src = "{{ asset('ressources/images/produit/') }}"+imgsrc;

        }
    </script>
    <div class="card mb-3">
        <div class="card-header">
            <i class="fas fa-table"></i>
            Data Table Example</div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nom</th>
                        <th>Reference</th>
                        <th>Categorie</th>
                        <th>Quantiite</th>
                        <th>Prix</th>
                        <th>Image</th>
                        <th>Description</th>
                        <th>Fournisseur</th>
                        <th>Etoiles</th>
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <th>ID</th>
                        <th>Nom</th>
                        <th>Reference</th>
                        <th>Categorie</th>
                        <th>Quantiite</th>
                        <th>Prix</th>
                        <th>Image</th>
                        <th>Description</th>
                        <th>Fournisseur</th>
                        <th>Etoiles</th>
                    </tr>
                    </tfoot>
                    <tbody>
                    {% for i in produits %}
                    <tr>
                        <td>{{  i.idProduit }}</td>
                        <td>{{  i.nom }}</td>
                        <td>{{  i.reference }}</td>
                        <td>{{  i.categorie }}</td>
                        <td>{{  i.quantite }}</td>
                        <td>{{  i.prix}}</td>
                        <td><button onclick="viewImage('{{ i.image }}');"   data-toggle="modal" data-target="#imageModal">View Image</button> </td>

                        <td>{{  i.description }}</td>
                        <td>{{  i.fournisseurId.nom }}</td>
                        <td>{{  i.etoile }}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <div class="modal fade" id="imageModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">

                    <div><img id="image" width="500" height="500"></div>

                </div>
            </div>
        </div>



{% endblock %}