{% extends 'base.html.twig' %}
{% block stylesheets %}
    <style>
        .page-container {
            background-image: url('{{ asset('assets/img/background_commande2.jpg') }}') !important;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>
{% endblock %}
{% block javascripts %}
    <script>
        $(document).ready(function () {
            var panier = $('#detailcmd').DataTable({
                "paging": true,
                "stateSave": true,
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/1.10.13/i18n/French.json",
                }
            });
        });
    </script>
{% endblock %}
{% block body %}
<<<<<<< HEAD
    <title><h1> Détails de la commande </h1> </title>
    <div class="tab-content" >
        <div class="tab-pane active" id="users" aria-expanded="true">
<div>
    <label  class="card" style="font-size: 30px; align-items: center; color: #f89d13;" >
        Liste Des Commandes
    </label><br>
</div>
            <table id="detailcmd" class="table table-striped table-bordered" cellspacing="0" width="100%">
                <thead>
                <tr>

                    <th>Totale</th>
                    <th>Date</th>
                    <th></th>
                </tr>
                <tbody>
                {% for a in commandes %}

                                <tr>

                                    <td>{{ a.total}}</td>
                                    <td>{{ a.date |date("m/d/Y")     }}</td>
                                    <td>
                                        <a href="{{ path('proceedToPayment', {'idCommande': a.idCommande }) }}" class="btn btn-primary text-white">Commander</a>

                                    </td>
                                </tr>

=======
    <title><h1 style="color: white"> Détails de la commande </h1> </title>
    <div class="tab-content" >
        <div class="tab-pane active" id="users" aria-expanded="true">

            <table id="detailcmd" class="table table-striped table-bordered" cellspacing="0" width="100%">
                <thead>
                <tr>
                    <th style="color: white"> Image </th>
                    <th style="color: white"> Titre </th>
                    <th style="color: white"> Description </th>
                    <th style="color: white"> Prix Annonce  </th>
                </tr>
                <tbody>
                {% for a in annonces %}
                    {% for value in liste_ligne %}
                        {% if value.idCommande == tab.id_commande %}
                            {% if value.idAnnonce == a.id %}
                                <tr>
                                    <td> {% if a.photo != '' %}
                                            <img alt="User Pic" style="width:150px;" width="50" height="50"
                                                 src="{{ asset('uploads/Annonce/photo/' ~ a.photo) }}"
                                                 class="img-circle img-responsive">
                                        {% else %}
                                            <img alt="annonce_Pic" style="width:50px;" src="{{ asset('assets/img/NA.png') }}" width="50" height="50"
                                                 id="profile-image1" class="img-circle img-responsive">
                                        {% endif %}</td>
                                    <td>{{ a.titre}}</td>
                                    <td>{{ a.description }}</td>
                                    <td> <h4>{{ a.prix }} DT</h4></td>
                                </tr>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
>>>>>>> 1453b8fe36090e5d7587461cd7c31b60229a01ab
                {% endfor %}
                </tbody>
            </table>

        </div>
    </div>
{% endblock %}