
{% extends 'base.html.twig' %}
{% block body %}
<div class="colorlib-loader"></div>

        <div id="page">
            <nav class="colorlib-nav" role="navigation">
                <div class="top-menu">
                    <div class="container">
                        <div class="row">pat
                            <div class="col-xs-2">
                            </div>

                        </div>
                    </div>
                </div>
            </nav>
            <aside id="colorlib-hero" class="breadcrumbs">
                <div class="flexslider">
                    <ul class="slides">
                        <li style="background: url({{ asset('/template/images/q.jpg') }});background-size: cover">
                            <div class="overlay"></div>
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-md-6 col-md-offset-3 col-sm-12 col-xs-12 slider-text">
                                        <div class="slider-text-inner text-center">
                                            <h1>Votre Panier</h1>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </aside>

            <div class="colorlib-shop">
                <div class="container">
                    <div class="row row-pb-md">
                        <div class="col-md-10 col-md-offset-1">

                        </div>
                    </div>
                    <div class="row row-pb-md">
                        <div class="col-md-10 col-md-offset-1">
                            <div class="product-name" style="background-color: #ffcc00">
                                <div class="one-forth text-center" >
                                    <span>Nom produit</span>
                                </div>
                                <div class="one-eight text-center">
                                    <span>prix</span>
                                </div>
                                <div class="one-eight text-center" id="quantite" >
                                    <span>Qunatité</span>
                                </div>
                                <div class="one-eight text-center" >
                                    <span>Totale</span>
                                </div>
                                <div class="one-eight text-center">
                                    <span>Action</span>
                                </div>
                            </div>

                                {% for detail in produits %}


                            <div class="product-cart">
                                <div class="one-forth">
                                    <div  class="product-img" style=" background: url({{ asset('img/' ~ detail.produit.image ) }});background-size: cover">
                                    </div>
                                                <div class="display-tc" style="padding-left: 70px;
">
                                        <h3> {{ detail.produit.nom }}</h3>
                                    </div>
                                </div>
                                <div class="one-eight text-center">
                                    <div class="display-tc">
                                        <input class="price" id="prix" value="{{ detail.produit.prix }}" disabled style="width: 100px">
                                    </div>
                                </div>
                                <div class="one-eight text-center">
                                    <div class="display-tc">
                                        <div class="one-eight text-center">
                                            <div class="display-tc">
                                                <input type="number"  onclick="calculate()"  id="quantity" name="quantity"class="form-control input-number text-center" min="1" max="100" value="{{ detail.quantite }}">
                                            </div>
                                        </div>

                                        </span>
                                    </div>
                                </div>
                                <div class="one-eight text-center">
                                    <div class="display-tc">
                                        <input value="{{ detail.produit.prix }}" disabled class="price" id="x"  style="width: 100px" >
                                    </div>
                                </div>
                                <div class="one-eight text-center">
                                    <div class="display-tc">
                                        <div class="one-eight text-center">
                                            <div class="display-tc">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>




                            {% endfor %}

                           <a href="{{ path('addCommande') }}" class="btn btn-secondary"submit>Passer la Commande</a>
                        </div>
                    </div>

                </div>
            </div>

<<<<<<< HEAD
=======
            <div class="slide-one-item home-slider owl-carousel">
                <div>
                    <div class="testimonial">
                        <figure class="mb-4">
                            <img src="{{asset('Bundles/AppBundle//images/person_3.jpg')}}" alt="Image" class="img-fluid mb-3">
                            <p>John Smith</p>
                        </figure>
                        <blockquote>
                            <p>&ldquo;Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur unde reprehenderit aperiam quaerat fugiat repudiandae explicabo animi minima fuga beatae illum eligendi incidunt consequatur. Amet dolores excepturi earum unde iusto.&rdquo;</p>
                        </blockquote>
                    </div>
                </div>
                <div>
                    <div class="testimonial">
                        <figure class="mb-4">
                            <img src="{{asset('Bundles/AppBundle//images/person_2.jpg')}}" alt="Image" class="img-fluid mb-3">
                            <p>Christine Aguilar</p>
                        </figure>
                        <blockquote>
                            <p>&ldquo;Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur unde reprehenderit aperiam quaerat fugiat repudiandae explicabo animi minima fuga beatae illum eligendi incidunt consequatur. Amet dolores excepturi earum unde iusto.&rdquo;</p>
                        </blockquote>
                    </div>
                </div>

                <div>
                    <div class="testimonial">
                        <figure class="mb-4">
                            <img src="{{asset('Bundles/AppBundle//images/person_4.jpg')}}" alt="Image" class="img-fluid mb-3">
                            <p>Robert Spears</p>
                        </figure>
                        <blockquote>
                            <p></p>
                        </blockquote>
                    </div>
                </div>
>>>>>>> 1453b8fe36090e5d7587461cd7c31b60229a01ab

        </div>
        <script src = "{{asset('jquery/jquery-3.2.1.min.js')}}"></script>

        <script type="text/javascript">

            function calculate(){

                var x = document.getElementById("x");

                var prix=document.getElementById("prix");
                var y= parseFloat(prix.value);
                var q=document.getElementById("quantity");
                var z=((parseInt(prix.value)*parseInt(q.value)));
                x.value=z;

            }
        </script>
    {% endblock %}
