{% extends 'base.html.twig' %}

{% block body %}
    <h1>Commandes list</h1>

    <table>
        <thead>
            <tr>
                <th>Idcommande</th>
                <th>Date</th>
                <th>Etat</th>
                <th>Total</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for commande in commandes %}
            <tr>
                <td><a href="{{ path('commande_show', { 'idCommande': commande.idCommande }) }}">{{ commande.idCommande }}</a></td>
                <td>{% if commande.date %}{{ commande.date|date('Y-m-d') }}{% endif %}</td>
                <td>{% if commande.etat %}Yes{% else %}No{% endif %}</td>
                <td>{{ commande.total }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('commande_show', { 'idCommande': commande.idCommande }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('commande_edit', { 'idCommande': commande.idCommande }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('commande_new') }}">Create a new commande</a>
        </li>
    </ul>
{% endblock %}
