{% extends 'base.html.twig' %}

{% block body %}
    <h1>Commande</h1>

    <table>
        <tbody>
            <tr>
                <th>Idcommande</th>
                <td>{{ commande.idCommande }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{% if commande.date %}{{ commande.date|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Etat</th>
                <td>{% if commande.etat %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Total</th>
                <td>{{ commande.total }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('commande_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('commande_edit', { 'idCommande': commande.idCommande }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
