{% extends 'base.html.twig' %}
{% block header %}
    <!-- home -->
    <div id="home">
        <!-- banner -->
        <div class="banner_w3lspvt-2">
            <!-- nav -->
            <div class="nav_w3ls pt-4 pb-3 text-center">
                <nav>
                    <label for="drop" class="toggle">Menu</label>
                    <input type="checkbox" id="drop" />
                    <ul class="menu">
                        <li><a href="http://localhost/pi_dev1/web/app_dev.php"><i class="fas fa-home"></i>Acceuil</a></li>
                        <li><a href="{{ path('fos_user_profile_show') }}" class="active"><i class="fas fa-user"></i>Profile</a></li>
                        <li><a href="#" class="active"><i class="fab fa-python"></i>Programmes</a></li>
                        <li><a href="#"><i class="far fa-calendar-alt"></i>Evenements</a></li>
                        <li><a href="#"><i class="fas fa-shopping-cart"></i>Produit</a></li>
                        <li><a href="contact.html"><i class="fas fa-clipboard-list"></i>Experience</a></li>
                        <li><a href="contact.html"><i  class="fas fa-star"></i>Evaluation</a></li>
                        <li><a href="{{ path('afficher_la_liste_des_annonces') }}"><i class="fas fa-bed"></i>Annonce</a></li>
                        <li><a href="{{ url('fos_message_inbox') }}"><i class="fas fa-bed"></i>Messenger</a></li>
                        <li><a href="{{ path('fos_user_security_logout') }}" class="active"> <i class="fas fa-sign-out-alt"></i>Deconnexion</a></li>
                    </ul>
                </nav>
            </div>
            <!-- //nav -->
            <div class="banner-text-2 text-right">
                <div class="banner-bot-2">
                    <h4><a href="index.html" class="logo text-wh editContent"  style="font-size: 20px; "> Bienvenue! </a></h4>
                </div>
            </div>
        </div>
        <!-- //banner -->
    </div>
    <!-- //home -->
    <!-- signin Modal -->
    <!-- js -->
    <script src="{{ asset('description/js/jquery-2.2.3.min.js') }}"></script>
    <!-- //js -->
    <!-- smooth dropdown -->
    <script>
        $(document).ready(function () {
            $('ul li.dropdown').hover(function () {
                $(this).find('.dropdown-menu').stop(true, true).delay(200).fadeIn(200);
            }, function () {
                $(this).find('.dropdown-menu').stop(true, true).delay(200).fadeOut(200);
            });
        });
    </script>
    <!-- //smooth dropdown -->
    <!-- script for password match -->
    <script>
        window.onload = function () {
            document.getElementById("password1").onchange = validatePassword;
            document.getElementById("password2").onchange = validatePassword;
        }

        function validatePassword() {
            var pass2 = document.getElementById("password2").value;
            var pass1 = document.getElementById("password1").value;
            if (pass1 != pass2)
                document.getElementById("password2").setCustomValidity("Passwords Don't Match");
            else
                document.getElementById("password2").setCustomValidity('');
            //empty string means no validation error
        }
    </script>
    <!-- script for password match -->

    <!--quantity-->
    <script>
        $('.value-plus').on('click', function () {
            var divUpd = $(this).parent().find('.value'),
                newVal = parseInt(divUpd.text(), 10) + 1;
            divUpd.text(newVal);
        });

        $('.value-minus').on('click', function () {
            var divUpd = $(this).parent().find('.value'),
                newVal = parseInt(divUpd.text(), 10) - 1;
            if (newVal >= 1) divUpd.text(newVal);
        });
    </script>
    <!--quantity-->
    <!-- FadeOut-Script -->
    <script>
        $(document).ready(function (c) {
            $('.close1').on('click', function (c) {
                $('.rem1').fadeOut('slow', function (c) {
                    $('.rem1').remove();
                });
            });
        });
    </script>
    <script>
        $(document).ready(function (c) {
            $('.close2').on('click', function (c) {
                $('.rem2').fadeOut('slow', function (c) {
                    $('.rem2').remove();
                });
            });
        });
    </script>
    <script>
        $(document).ready(function (c) {
            $('.close3').on('click', function (c) {
                $('.rem3').fadeOut('slow', function (c) {
                    $('.rem3').remove();
                });
            });
        });
    </script>
    <!--// FadeOut-Script -->

    <!-- start-smooth-scrolling -->
    <script src="{{ asset('description/js/move-top.js') }}"></script>
    <script src="{{ asset('description/js/easing.js') }}"></script>
    <script>
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();

                $('html,body').animate({
                    scrollTop: $(this.hash).offset().top
                }, 1000);
            });
        });
    </script>
    <!-- //end-smooth-scrolling -->
    <!-- smooth-scrolling-of-move-up -->
    <script>
        $(document).ready(function () {
            /*
            var defaults = {
                containerID: 'toTop', // fading element id
                containerHoverID: 'toTopHover', // fading element hover id
                scrollSpeed: 1200,
                easingType: 'linear'
            };
            */

            $().UItoTop({
                easingType: 'easeOutQuart'
            });

        });
    </script>
    <script src="{{ asset('description/js/SmoothScroll.min.js') }}"></script>
    <!-- //smooth-scrolling-of-move-up -->
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{ asset('description/s/bootstrap.js') }}"></script>
{% endblock %}
